.notification {
    background:#323232; 
    border: 1px solid #757575;
    border-radius: 21px; /* Скругление углов */
    color: #757575;
    padding: 10px;
    margin: 5px;
    opacity: 0.95;
    font-family: "Montserrat medium", monospace;
  }
  
  .notification-content {
    font-size: 16px;
  }
  
  .notification-default-action {
    border-radius: 3px;
  }
  
  .control-center {
    background: rgba(44, 44, 44, 0.952);
    border: 1px solid #757575;
    border-radius: 21px;
  }
  
  .notification-inner {
    margin: 5px;
  }
  
  .notification-row:focus {
    outline: none;
  }
  
  .image {
    margin-right: 10px;
  }